    * {
        margin: 0;
        padding: 0;
    }
    
    /* FORMATAÇÃO */
    body, html {
        width: 100%;
        background-color: #111;       
        color: #f5f5f5;              
        font-size: large;
        margin: 0;
        padding: 0;
    }

    header {
        background: black;
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        border-bottom: #111 3px;
    }


    button.hamburguer{
    width: 40px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    }

    button.hamburguer:hover{
        transform: translateX(2px);
        color: transparent;
    }

    button span {
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 3px;
    transition: all 0.3s ease;
    display: block;
    }

    button.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
    }

    button.active span:nth-child(2) {
    opacity: 0;
    }

    button.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
    }

    nav.Menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    background: rgb(0, 0, 0);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
    z-index: 99;
    padding-top: 15%;
    }

    nav.active {
    right: 0;
    }

    ul {
    list-style: none;
    }

    li {
    border-bottom: 1px solid #f0f0f0;
        
    }

    a.MenuA {
    display: block;
    padding: 1.2rem 2rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    padding-block: 10%;
    }

    a.MenuA:hover {
    background: linear-gradient(yellow, gold);
    color: rgb(0, 0, 0);
    padding-left: 2.5rem;
    padding-block: 9%;
    }

    aside.Lateral {
    position: fixed;
    top: 50px;
    width: fit-content;
    height: fit-content;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    
    }

    aside.active {
    opacity: 1;
    visibility: visible;
    }

    .body-no-scroll {
    overflow: hidden;
    height: 100vh;
    touch-action: none;
    }
    
    /* INICIO ABA DE SERVIÇOS */
    #ServicoDetalhes {
        padding: 2rem;
        background-color: #f5f5f5;
        color: #d4af37; 
        text-align: center;
        
    }

    .TituloServico {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #d4af37;
        text-align: center;
        
    }

    h1#TituloServico {
        color: #d4af37;
        text-align: center;
        font-size: 3rem;
    }
    
    .Servico-ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40%, 2fr));
        justify-items: center;
        margin-right: 5%;
        margin-left: 5%;
    }

    .ServicoItem {
        margin: 2rem;
        text-align: center;
        color: white;
        border-radius: 10px;
        padding: 1rem;
        box-shadow: #000 0px 4px 8px;
    }
    
    /* BACKGROUND SERVIÇO CORTE */
    .ServicoItem#Corte {
        background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(../assets/ImgFundoServiços/CorteFundo.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    /* BACKGROUND SERVIÇO BARBA */
    .ServicoItem#Barba {
        background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(../assets/ImgFundoServiços/BarbaFundo.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    /* BBACKGROUND SERVIÇO SOBRANCELHA */
    .ServicoItem#Sobrancelha {
        background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(../assets/ImgFundoServiços/SobrancelhaFundo.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    /* BACKGROUND SERVIÇO DEPILAÇÃO */
    .ServicoItem#Depilação {
        background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(../assets/ImgFundoServiços/DepilacaoFundo.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    a.BotServico{
        background-color: #d4af37;
        border: none;
        color: #000;
        padding: 10px 20px;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        width: fit-content;
        align-items: center;
        justify-items: center;
    }

    a.BotServico:hover {
        transform: translateY(2px);
        transition: all 0.5s ease;
        background-color: #a38111;
      
    }

   
    

    footer {
      text-align: center;
      color: #bfa760;
      padding: 15px;
      background-color: #000;
    }

@media (max-width: 670px){

    h1#TituloServico {
        color: #d4af37;
        text-align: center;
        font-size: 2rem;
    }

    .TituloServico {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #d4af37;
        text-align: center;
        
    }

    .TituloServico {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #d4af37;
        text-align: center;
        font-size: 1rem;
    }

    .Servico-ul {
        list-style-type: none;
        display: block;
        grid-template-columns: repeat(auto-fit, minmax(45%, 2fr));
        justify-items: center;
        margin-right: 5%;
        margin-left: 5%;
    }

    .ServicoItem {
        margin: 1rem;
        text-align: center;
        color: white;
        border-radius: 10px;
        padding: 1rem;
        box-shadow: #000 0px 4px 8px;
    }

}