    * {
        margin: 0;
        padding: 0;
    }
    
    /* FORMATAÇÃO */
    body, html {
        width: 100%;
        background-color: #111;      
        color: #f5f5f5;              
        font-size: large;
        margin: 0;
        padding: 0;
    }

    header {
    background: black;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border-bottom: #111 3px;
    }


    button.hamburguer{
    width: 40px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    }

    button.hamburguer:hover{
        transform: translateX(2px);
        color: transparent;
    }

    button span {
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 3px;
    transition: all 0.3s ease;
    display: block;
    }

    button.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
    }

    button.active span:nth-child(2) {
    opacity: 0;
    }

    button.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
    }

    nav.Menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    background: rgb(0, 0, 0);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
    z-index: 99;
    padding-top: 15%;
    }

    nav.active {
    right: 0;
    }

    ul {
    list-style: none;
    }

    li {
    border-bottom: 1px solid #f0f0f0;
        
    }

    a.MenuA {
    display: block;
    padding: 1.2rem 2rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    padding-block: 10%;
    }

    a.MenuA:hover {
    background: linear-gradient(yellow, gold);
    color: rgb(0, 0, 0);
    padding-left: 2.5rem;
    padding-block: 9%;
    }

    aside.Lateral {
    position: fixed;
    top: 50px;
    width: fit-content;
    height: fit-content;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    
    }

    aside.active {
    opacity: 1;
    visibility: visible;
    }

    .body-no-scroll {
    overflow: hidden;
    height: 100vh;
    touch-action: none;
    }
   
    /* TITULO DOS ITENS DA LISTA EQUIPE */
    .TituloEquipe{
        text-align: center;
        
        margin-top: 2rem;
        color: #d4af37;
        font-family: sans-serif;
    }

    .TituloEquipe#NossaEquipe{
        margin-bottom: 2rem;
    }

    .TituloEquipe1{
        margin-bottom: 2rem;
    }

    .FotoEquipe{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        border-radius: 20px;
        margin-bottom: 1rem;
        box-shadow: #000 4px 6px 15px;
    }

    #Equipe-ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-top: 3rem;
    }

    .EquipeItem{
        margin-bottom: 2rem;
        border-radius: 10px;
        text-align: center;
        background-color: #222;
        width: fit-content;
        width: 70%;
        padding: 1.5rem;
        box-shadow: #000 7px 9px 15px;
    }

    
    main{
        display: flex;
        flex-direction: column;
        
    }

    footer {
      text-align: center;
      color: #bfa760;
      padding: 15px;
      background-color: #000;
    }